
/* ---------------------------------Home Page---------------------------------*/
/* **************** NavBar **************** */
#mynav{
	text-align: right;
    height: 60px;
	padding-top :20px;
	background-color: white;
	box-shadow: 5px 5px  10px  grey;
	position: fixed; 
	top: 0; 
	  width: 100%;
}
.link_Ap {
	padding-right: 100px;
	font-size: 20px;
}
/* **************** interface **************** */
#myhome{
	margin-top: 80px;
	background-color:	#e6e6e6;
	height: 450px;
}
#ph{
	padding-top: 55px;
	width:800px;
	 height:400px;
	 display:inline-block;
}
#img_initial{
    width: 800px;
    height: 400px;
}
#part_2_home{
	display:inline-block;
}
#discript{
    margin-left: 150px;
    margin-top: 40px;
    padding-bottom: 60px;
    height: 150px;

}
#allon{
	margin-left: 150px;
    margin-bottom: 50px;
}
#discription{
	font-size: 20px;
	width:400px;
	margin-bottom: 60px;
	
}
#camme{
	border: 2px  black;
	border-radius: 10px;
	background-color: goldenrod;
	font-size: 30px;
	padding: 5px;
	
}
/* **************** logos **************** */
.mylogo{
	background-color: #f3f3f3;
}
.log{
	width: 100px;
	height: 100px;
	margin-left: 500px;
}

/* ---------------------------------footer---------------------------------*/
#espace_footer{
	width: 400px;
	right: 264px;
	margin-bottom: 20px;
	display: inline-block;
}
#espace_footer_2{
	width: 400px;
	right: 264px;
	margin-bottom: 20px;
	display: inline-block;
}
#espace_footer_3{
	width: 400px;
	right: 264px;
	margin-bottom: 20px;
	display: inline-block;
}
.titre_footer{
	font-size: 30px;
}
#titre_foot{
	font-size: 30px;
	padding-bottom: 165px;
}
#ligne{
	color: #e6e6e6;
}
.icon_footer{
	height: 40px;
	width: 40px;

}
.link_footer{
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.info_icon{
	margin-right: 40px;
}
#footer{
	background-color:#d3d3d3;
}
#img_footer{
	height: 250px;
	width: 250px;
	padding-bottom: 30px;
}
#table{
	margin-left: 120px;
}
#sous_footer{
	background-color: #808080;
	height: 50px;
}
#p_sf{
	margin-top: 0px;
    text-align: center;
    padding-top: 15px;

}